Repository stellar/stellar-cli, pull requests merged in 2023-07, with the labels that each got.

#741 updated rs-env and mono repo versions
  .github/workflows/soroban-rpc.yml
  Cargo.lock
  Cargo.toml
  cmd/soroban-rpc/internal/test/docker-compose.yml
  go.mod
  go.sum
Labels: soroban-scrum, preview-10

#730 soroban-rpc: Implement preflighting of BumpFootprintExpiration and RestoreFootprint operations
  cmd/soroban-rpc/internal/methods/simulate_transaction.go
  cmd/soroban-rpc/internal/preflight/pool.go
  cmd/soroban-rpc/internal/preflight/preflight.go
  cmd/soroban-rpc/lib/preflight.h
  cmd/soroban-rpc/lib/preflight/src/fees.rs
  cmd/soroban-rpc/lib/preflight/src/lib.rs
Labels: soroban-scrum, preview-10

#744 sync with main
  Cargo.lock
  cmd/crates/soroban-spec-typescript/fixtures/ts/src/index.ts
  cmd/crates/soroban-test/tests/fixtures/test-wasms/hello_world/src/lib.rs
  cmd/crates/soroban-test/tests/it/custom_types.rs
  cmd/soroban-cli/Cargo.toml
  cmd/soroban-cli/src/commands/contract/bindings/typescript.rs
  cmd/soroban-cli/src/commands/contract/invoke.rs
  docs/soroban-cli-full-docs.md
Labels: soroban-scrum, preview-10

#745 Fix bug loading contract spec in sandbox when not deployed
  cmd/crates/soroban-test/src/lib.rs
  cmd/crates/soroban-test/tests/it/custom_types.rs
  cmd/crates/soroban-test/tests/it/invoke_sandbox.rs
  cmd/soroban-cli/src/commands/contract/invoke.rs
  cmd/soroban-cli/src/utils.rs
  cmd/soroban-rpc/lib/preflight/src/fees.rs
Labels: soroban-scrum, preview-10

#695 soroban-rpc: State Expiration
  cmd/soroban-rpc/internal/db/ledgerentry.go
  cmd/soroban-rpc/internal/db/ledgerentry_test.go
  cmd/soroban-rpc/internal/ingest/ledgerentry.go
  cmd/soroban-rpc/internal/test/simulate_transaction_test.go
  cmd/soroban-rpc/internal/test/transaction_test.go
  go.mod
  go.sum
Labels: soroban-scrum, preview-10

#750 compile: disable the fetch test
  cmd/crates/soroban-spec-typescript/src/boilerplate.rs
  cmd/crates/soroban-test/tests/it/invoke_sandbox.rs
Labels: preview-10

#751 Fix bug in cli lab xdr decode --type parsing
  cmd/soroban-cli/src/commands/lab/xdr/decode.rs
Labels: soroban-scrum, preview-10

#754 soroban-cli: Verify the network passphrase provided matches the server
  cmd/soroban-cli/src/commands/contract/deploy.rs
  cmd/soroban-cli/src/commands/contract/fetch.rs
  cmd/soroban-cli/src/commands/contract/install.rs
  cmd/soroban-cli/src/commands/contract/invoke.rs
  cmd/soroban-cli/src/commands/events.rs
  cmd/soroban-cli/src/commands/lab/token/wrap.rs
  cmd/soroban-cli/src/rpc/mod.rs
Labels: soroban-scrum, preview-10

#755 soroban-cli: fix contract deploy
  cmd/crates/soroban-test/src/wasm.rs
  cmd/soroban-cli/src/commands/contract/invoke.rs
  cmd/soroban-cli/src/rpc/mod.rs
  cmd/soroban-cli/src/utils.rs
Labels: soroban-scrum, preview-10

#746 soroban-rpc: Add bump footprint test
  .github/workflows/soroban-rpc.yml
  cmd/crates/soroban-test/tests/fixtures/test-wasms/hello_world/src/lib.rs
  cmd/soroban-rpc/internal/test/captive-core-integration-tests.cfg
  cmd/soroban-rpc/internal/test/docker-compose.yml
  cmd/soroban-rpc/internal/test/simulate_transaction_test.go
  cmd/soroban-rpc/internal/test/stellar-core-integration-tests.cfg
  cmd/soroban-rpc/internal/test/transaction_test.go
  cmd/soroban-rpc/lib/preflight/src/fees.rs
  go.mod
  go.sum
Labels: soroban-scrum, preview-10

#759 soroban-rpc: Bump Core version
  .github/workflows/soroban-rpc.yml
  cmd/soroban-rpc/internal/test/docker-compose.yml
Labels: soroban-scrum, preview-10

#760 update go dependency for preview 10 release
  go.mod
  go.sum
Labels: preview-10

#762 update e2e tests
  .github/workflows/e2e.yml
Labels: soroban-scrum, preview-10

#748 soroban-cli: Add super basic `contract bump` and `contract restore` subcommands
  cmd/soroban-cli/src/commands/contract/bump.rs
  cmd/soroban-cli/src/commands/contract/invoke.rs
  cmd/soroban-cli/src/commands/contract/mod.rs
  cmd/soroban-cli/src/commands/contract/read.rs
  cmd/soroban-cli/src/commands/contract/restore.rs
  cmd/soroban-cli/src/log/auth.rs
  cmd/soroban-cli/src/rpc/mod.rs
  cmd/soroban-cli/src/rpc/transaction.rs
  docs/soroban-cli-full-docs.md
Labels: soroban-scrum, preview-10

#756 soroban-cli: Implement soroban contract read with real rpc support
  cmd/soroban-cli/src/commands/contract/mod.rs
  cmd/soroban-cli/src/commands/contract/read.rs
  cmd/soroban-cli/src/rpc/mod.rs
  docs/soroban-cli-full-docs.md
Labels: preview-10

#765 update e2e tests
  .github/workflows/e2e.yml
  cmd/crates/soroban-spec-typescript/fixtures/test_custom_types/package-lock.json
  cmd/crates/soroban-spec-typescript/fixtures/test_custom_types/package.json
  cmd/crates/soroban-spec-typescript/src/project_template/package.json
Labels: soroban-scrum, preview-10

#768 update js-soroban-client to 0.9.1
  .github/workflows/e2e.yml
  cmd/crates/soroban-spec-typescript/fixtures/test_custom_types/package-lock.json
  cmd/crates/soroban-spec-typescript/fixtures/test_custom_types/package.json
  cmd/crates/soroban-spec-typescript/src/project_template/package.json
Labels: preview-10

#766 CI Testing: update the e2e.yml and include latest system-test tag
  .github/workflows/e2e.yml
Labels: soroban-scrum, preview-10

#767 soroban-cli: Add better feedback to bump+restore ops
  cmd/soroban-cli/src/commands/contract/bump.rs
  cmd/soroban-cli/src/commands/contract/restore.rs
Labels: soroban-scrum

#773 Tsachi/update preview 10 dependencies
  .github/workflows/soroban-rpc.yml
  cmd/soroban-rpc/internal/test/docker-compose.yml
  go.mod
  go.sum
Labels: soroban-scrum, preview-10

#777 Bumps end-to-end test versions
  .github/workflows/e2e.yml
Labels: Testnet August 2023 Release

#779 fix CI bug in soroban-rpc testing
  .github/workflows/soroban-rpc.yml
Labels: soroban-scrum, Testnet August 2023 Release

#783 build: update core build version to 19.12.1-1393.db40326a1.focal~soroban
  .github/workflows/soroban-rpc.yml
  cmd/soroban-rpc/internal/test/docker-compose.yml
  go.mod
  go.sum
Labels: preview-10

#775 feat(CLI): add `--wasm` args to bump/restore
  cmd/soroban-cli/src/commands/contract/bump.rs
  cmd/soroban-cli/src/commands/contract/restore.rs
  cmd/soroban-cli/src/wasm.rs
  docs/soroban-cli-full-docs.md
Labels: soroban-scrum

#799 soroban-rpc: limit number of concurrent requests
  cmd/soroban-cli/src/commands/contract/mod.rs
  cmd/soroban-rpc/internal/config/config.go
  cmd/soroban-rpc/internal/config/options.go
  cmd/soroban-rpc/internal/jsonrpc.go
  cmd/soroban-rpc/internal/network/backlogQ.go
  cmd/soroban-rpc/internal/network/backlogQ_test.go
  cmd/soroban-rpc/internal/test/get_ledger_entries_test.go
  cmd/soroban-rpc/internal/test/integration.go
  cmd/soroban-rpc/internal/test/simulate_transaction_test.go
  docs/soroban-cli-full-docs.md
Labels: soroban-scrum
